<bookmark-header></bookmark-header>

<mat-drawer-container class="content">
    <mat-drawer mode="side" opened>
        <div *ngFor="let group of groups" (click)="loadGroup(group)" class="item">
          <button class="btn-block" [ngClass]="{'active':isActive(group)}" mat-button color="primary">{{group}}</button>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <div fxLayout="row" fxLayoutAlign="space-between" class="container">
          <h2>Link Library</h2>
          <popup [config]="addPopupConfig"></popup>
        </div>
        
    	<simple-table [config]="groupTableConfig"></simple-table>
    </mat-drawer-content>
</mat-drawer-container>
