<h1 mat-dialog-title> Update Bookmark </h1>

<form #updateModel="ngForm" (ngSubmit)="update(updateModel)">
	<div mat-dialog-content>
	    <mat-form-field appearance="legacy">
	        <mat-label>Bookmark Name</mat-label>
	        <input matInput placeholder="Title" [formControl]="title">
	        <mat-error *ngIf="title.hasError('required')">
                Bookmark title is <strong>required</strong>
   			</mat-error>
	    </mat-form-field>
	    <mat-form-field appearance="legacy">
	        <mat-label>Url</mat-label>
	        <input matInput placeholder="Url" [formControl]="url">
	        <mat-error *ngIf="url.hasError('required')">
                Url is <strong>required</strong>
   			</mat-error>
	    </mat-form-field>
	    <mat-form-field appearance="legacy">
	        <mat-label>Group</mat-label>
	        <input matInput  placeholder="Group" [formControl]="group">
	    	<mat-error *ngIf="group.hasError('required')">
                Group is <strong>required</strong>
   			</mat-error>
   			<mat-error *ngIf="group.hasError('maxlength')">
                Group is <strong>not valid</strong>
   			</mat-error>
	    </mat-form-field>
	</div>

	<div mat-dialog-actions>
	  <button mat-raised-button type="submit" cdkFocusInitial color="primary">Save</button>
	  <button mat-button mat-dialog-close #updateCloseButton>Cancel</button>
	</div>
</form>

