<div mat-dialog-content>
  <p>{{config.message}}</p>
</div>
<div mat-dialog-actions>
    <button *ngIf="config.primaryButtonEnabled" mat-raised-button [mat-dialog-close]="config.data" cdkFocusInitial color="primary">{{config.primaryButtonLabel}}</button>
	<button *ngIf="config.secondaryButtonEnabled" mat-button (click)="onSecondaryClick()">{{config.secondaryButtonLabel}}</button>
</div>