<button *ngIf="config.type === 'template' && config.attribute === 'mat-mini-fab'" mat-mini-fab (click)="openDialog()">
    <mat-icon color="{{config.fontIconColor}}" matTooltip="{{config.tooltip}}">{{config.fontIcon}}</mat-icon>
</button>

<button *ngIf="config.type === 'message' && config.attribute === 'mat-mini-fab'" mat-mini-fab (click)="openMessageDialog()">
    <mat-icon color="{{config.fontIconColor}}" matTooltip="{{config.tooltip}}">{{config.fontIcon}}</mat-icon>
</button>

<button *ngIf="config.type === 'template' && config.attribute === 'mat-icon-button'" mat-icon-button (click)="openDialog()">
    <mat-icon color="{{config.fontIconColor}}" matTooltip="{{config.tooltip}}">{{config.fontIcon}}</mat-icon>
</button>

<button *ngIf="config.type === 'message' && config.attribute === 'mat-icon-button'" mat-icon-button (click)="openMessageDialog()">
    <mat-icon color="{{config.fontIconColor}}" matTooltip="{{config.tooltip}}">{{config.fontIcon}}</mat-icon>
</button>